
.cards {
    margin-top: 120px;

    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
    }
}

.card {
    padding: 0 17px;
    margin-top: 63px;
    display: grid;
    place-items: center;
    text-align: center;
    height: 485px;

    &__img {
        width: 100%;
    }

    a {
        display: inline-block;
        margin-top: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    &__inner {
        width: 100%;
        height: 100%;
        border: 2px solid #01384D;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }

    &__desc {
        padding: 0 26px;
        margin-top: 26px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }
}


// Responsiveness =====================
// mobile
@media (max-width: 992px) {

    .cards__list {
        display: flex;
        justify-content: center;
    }

    .card__inner {
        max-width: 407px;
    }
}